# Configuração da Aplicação
PORT=3014
NEXT_PUBLIC_APP_URL="http://localhost:3014"
JWT_SECRET="alumni-super-secret-jwt-key-local-development-2026"

# Banco de Dados PostgreSQL (Docker)
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/alumni_db"

# E-mail Admin Inicial (Seed / SuperAdmin)
INITIAL_SUPER_ADMIN_EMAIL="ops@community.local"
INITIAL_ADMIN_EMAIL="ops@community.local"

# Envio de E-mails (Desenvolvimento Local via Mailpit / SMTP)
SMTP_HOST="localhost"
SMTP_PORT=1026
EMAIL_FROM_ADDRESS="auth@alumni.org"

# E-mail de Produção (Resend / SES - Usar quando em prod)
# RESEND_API_KEY="re_..."
